<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invited list person</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div class="container" id="homeWork1">
        <h1>{{testField}}</h1>

        <form @submit.prevent="" method="POST" role="form" v-show="!isPrepared">
            <legend>Persons Data:</legend>
            <div class="form-group" v-for="(iValue, iName, iIndex) in personData">
                <label>{{iName}} ({{iValue.displayLabel}})</label>
                <input type="text" class="form-control" v-model="iValue.useData">
            </div>
            <hr>
            <h3>Addition persons:</h3>
            <div>
                <button type="button" class="btn btn-info" @click="addPerson">Add</button>
                <div style="margin-top: 20px" v-for="(aPerson, aIndex) in additionPersons">
                    <label @dblclick="delPerson(aIndex)">Addition Person:</label>
                    <input type="text" class="form-control" v-model="aPerson.name">
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary" @click="isPrepared=!isPrepared">Prepare Report</button>
        </form>
        <div v-show="isPrepared">

            <table class="table table-bordered table-hover">
                {{getFullName}}
                <tr v-for="(iValue, iName, iIndex) in personData">
                    <td>{{iValue.displayLabel}}</td>
                    <td>{{iValue.useData}}</td>
                </tr>
                <tr>
                    <td>Addition persons</td>
                    <td>

                        <table class="table table-bordered table-hover">
                            <tr v-for="aPerson in additionPersons">
                                <td>{{aPerson.name}}</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>