<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Work 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" </head>

    <body>
        <div id="homeWork1">
            <form action="javascript:void()" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" v-model="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" v-model="lastName">
                </div>
                <button class="but btn-warning" v-on:click="addPerson">Add Person</button>
                <div v-for="(peson, index) in personList">
                    <label v-on:dblclick="deletePerson(index)">Addition person ({{index + 1}}):</label>
                    <input type="text" class="form-control" id="lastName" v-model="peson.name">
                </div>
                <button class="but btn-info" v-on:click="isPrepare = !isPrepare">Preview</button>
            </form>
            <div>
                <table class="table table-bordered">
                    <tr>
                        <td>First Name</td>
                        <td>{{firstName}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{lastName}}</td>
                    </tr>
                    <tr>
                        <td>Addition Persons </td>
                        <td>
                            <table class="table table-bordered">
                                <tr v-for="(peson, index) in personListCopy">
                                    <td>
                                        {{peson.name}}

                                    </td>


                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="but btn-success">Send</button>
            </div>
        </div>
        <script src="main.js"></script>
    </body>

</html>